@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
	--primaryColor: #7446B9;
	--secondaryColor: hsl(0, 0%, 9%);
	--tertiaryColor: hsl(0, 0%, 12%);
	--accentColor: #FFDB29;
	--fontColor: #ffffff;
	--secondaryFontColor: hsla(0, 0%, 100%, 0.5);
}

* {
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color: var(--fontColor);
	background: var(--secondaryColor);
}

nav, footer, section {
	display: flex;
	width: 100%;
}

nav, footer {
	padding: 0 20vw;
}

nav {
	position: fixed;
	isolation: isolate;
	z-index: 99;
}

section {
	padding: 0 22vw;
	overflow: hidden;
}

@media screen and (min-width: 2560px) {
	nav, footer, section {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 3840px) {
	nav, footer, section {
		font-size: 2em;
	}
}

@media screen and (max-width: 1280px) {
	nav, footer, section {
		font-size: .8em;
	}
	nav, footer {
		padding: 0 16vw;
	}
	section {
		padding: 0 18vw;
	}
}

@media screen and (max-width: 1270px) {
	nav, footer, section {
		font-size: .7em;
	}
	nav, footer {
		padding: 0 12vw;
	}
	section {
		padding: 0 14vw;
	}
}

@media screen and (max-width: 1000px) {
	nav, footer {
		padding: 0 8vw;
	}
	section {
		padding: 0 10vw;
	}
}

@media screen and (max-width: 800px) {
	nav, footer {
		padding: 0 4vw;
	}
	section {
		padding: 0 6vw;
	}
}